<div class="page-header">
  <h1>My Projects</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Dataset</th>
      <th>Status</th>
      <th>Created At</th>
      <th>Edit</th>
      <th>Manage Access</th>
  </thead>
  <tbody>
    <% 12.times do %>
      <tr>
        <td><%= project_name %></td>
        <td><%= project_label %></td>
        <td><%= project_date %></td>
        <td><%= fa_icon "pencil-square-o" %></td>
        <td><%= fa_icon "lock" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
