<div class='container'>
<%= form_for(@layer, html: {class: 'form-horizontal'}) do |f| %>
  <div class='row'>
    <div class='form-group'>
      <%= f.label :name %>
      <div class='input'>
        <%= f.text_field :name %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='form-group'>
      <%= f.label :description %>
      <div class='input'>
        <%= f.text_area :description %>
      </div>
    </div>
  </div>

  <div class='row'>
    <%= f.submit %>
  </div>
<% end %>
</div>
